@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
  font-size: 10px;
}

/* #rfs-btn > span {
  font-size: 14px;
}
.ReactFlagsSelect-module_selectFlag__2q5gC > svg > g > path {
  width: 100px;
} */
#country,
#city {
  /* className="px-[1.4rem] py-[1rem] w-[100%] rounded-lg border-[2px] border-jubalFormBorder mt-[1rem] text-[1.6rem]" */
  border-color: #dfe2e7;
  border-width: 2px;
  padding: 1rem 1.4rem;
  width: 100%;
  border-radius: 5px;
  font-size: 1.6rem;
  margin-top: 1rem;
}
.custom-gradient {
  background: linear-gradient(90deg, #3F2883 0%, #2DA5A4 93.29%);
}

.post-gig-btn{
  width: fit-content;
  position: absolute;
  bottom: 36px;
  right: 50px;
}

.bg-forgot-password{
  background: url("../../public/images/loginHero.png");
}
